:root{
    --color-primary: #626dea;
    --color-primary-focus: #8ba6c1;
    --color-secondary: #FF4600;
    --color-secondary-focus: #D7643A;
    
    --color-gray-4: #121214;
    --color-gray-3: #212529;
    --color-gray-2: #343B41;
    --color-gray-1: #868E96;
    --color-gray-0: #F8F9FA;
    --color-white: #FFFFFF;
   
    --color-sucess: #00F300;
    --color-negative: #F5180C;
   
    --font-family: "Oswald", sans-serif;
   }